
p {
    color:black ;
    font-size: 18px; 
}
li {
    color: black;
    font-weight: bold ;
}
#Ayasofya-Link {
    text-decoration: none ;
}
#Galata-Kulesi-Link {
    text-decoration: none ;
}
#Kız-Kulesi-Link {
    text-decoration: none ;
}
#Yerebatan-Sarnıcı-Link {
    text-decoration: none  ;
}
.title {
    color:green ;
    background-color: greenyellow ;
    font-size: 24px;
}  