p {
    color:black ;
    font-size:24px ;
   
}

li {
    color: black;
    font-weight: bold ;
}

.title {
    display:flex;
    color:orange;
    font-size:36px;
    background-color:whitesmoke;
    flex-direction:row;
    justify-content:center;
}

#Ayasofya-Link {
    text-decoration: none ;
}
#Galata-Kulesi-Link {
    text-decoration: none ;
}
#Kız-Kulesi-Link {
    text-decoration: none ;
}
#Yerebatan-Sarnıcı-Link {
    text-decoration: none  ;
}
    
 .menu {
     
      background-color:orange;
      padding:20px;
      display:flex;
      flex-direction:raw;
      justify-content:center;
      gap:10px;
      
      
    }
    
    .menu a:hover {
      color:black;
      background-color:#FFDBA2 ;
      
    }
    
    .menu a {
      text-decoration:none;
      padding:10px;
      background-color:white;
      flex-grow:1;
    }
.content {
  width:680px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

body {
    font-family:source-serif pro, Georgia, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 'Times New Roman', Times, serif ;
    font-size: 20px;
    line-height:32px;
    color:rgb(36, 36, 36);
} 

p, ul {
    margin-top:40px;
}
h1 {
    font-family: sohne, helvatica, Arial, Helvetica, sans-serif;
    font-size:42px;
    line-height:52px;
    margin-top:50px;
}
h2 {
    font-family: sohne, Arial, Helvetica, sans-serif;
    font-size:24px;
    line-height:30px;
    margin-top:47px;
}
